[Unit]
Description=OpenVPN server container
After=docker
Requires=docker

[Service]
ExecStart=vpn-run-server
ExecStop=docker stop vpn-server

[Install]
WantedBy=multi-user.target
